*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

html, body {
  height: 100%;
}

:root {
    --background: #F3F4F6;
    --card: #FFFFFF;
    --text-primary: #111827;
    --text-secondary: #6B7280;
    --borders-lines: #E5E7EB;
    --primary-accent: #3B82F6;
    --secondary-accent: #10B981;
    --warning: #F59E0B;
    --error: #EF4444;
    --succes: #22C55E;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    background-color: var(--background);
}

.card {
    min-width: 0;
    max-width: 420px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    width: 100%; 
    margin: 0 auto;
    padding: 16px;
    place-items: center;
    background-color: var(--card);
    justify-content: space-around;
    align-items: center;
}

.cards {
    grid-row: 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    padding: 24px;
    background-color: var(--background);
    height: 100%;
    justify-items: start;
}

.header {
    min-height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: var(--card);
    box-shadow: 0 12px 24px -8px rgba(0,0,0,0.35);
    grid-row: 1;
    grid-column: 1 / -1;
}

.favDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border: none;
  border-radius: 10px;
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
  
}

.favDialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.btn-wrapper button {
    background-color: var(--primary-accent);
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
} 

.btn-wrapper svg {
    width: 3em;
    height: 3em;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
} 

.form-wrapper {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  
  align-items: center;
  text-align: center;
  
}


.form-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 8px;
  
}

input {
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid var(--primary-accent);
}

input:focus {
  outline: none;
}

.read {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkmark
 {
    position: relative;
    left: 12%;
    transform: translate(-90%, 0%);
    height: 20px;
    width: 20px;
  
}

.dialog-btns {
  display: flex;
  gap: 12px;
}

.cancel-button {
  margin-left: 8px;;
}

.read-button.read {
  background-color: green;
  color: white;
}

.read-button.unread {
  background-color: red;
  color: white;
}

.read-button {
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button, .cancel-button, .confirm-button {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  padding: 0.25rem 0.75rem;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  border: none;
  border-radius: 6px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}


.delete-button:hover, .cancel-button:hover, .confirm-button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}



.delete-button:active, .cancel-button:active, .confirm-button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

span {
  font-weight: bold;
}